* {
  margin: 0;
  padding: 0;
}


.app {
  background-color: #fefefe;
  height: 100vh;
}

.app__header {
  background-color: #fff;
  padding: 15px 20px 12px;
  box-shadow: 0 0 5px rgba(0,0,0,0.15);
}

.app__headerImage {
  object-fit: contain;
  max-width: 100px;
}

.app__signup {
  display: flex;
  flex-direction: column;

  text-align: center;
  padding: 10px;
}

.app__signup input,
.app__signup button {
margin-top:20px;
}