.post {
  background-color: #ffffff;
  max-width: 500px;
  /* border: 1px solid #ddd; */
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.15);

  margin: 20px auto 20px;
}

.post__header {
  display: flex;
  align-items: center;
  padding: 10px;
}

.post__avatar {
  margin-right: 10px;
}

.post__name {
  font-size: 16px;
}

.post__image {
  width: 100%;
  object-fit: contain;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.post__text {
  padding: 10px 10px 15px;
  font-weight: normal;
}